@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

@import"layout/variable";
@import "layout/mixin";
@import "about/style";

@media (max-width: 768px){
 .right_side {
margin-top: 40px !important;
   }}
@media (max-width: 768px){
 .upside_items .img{
  width:321px !important;
  height: 300px !important;
   }}
@media (max-width: 768px){
 .upside_items .img img{
object-fit: cover !important;
   }}
@media (max-width: 768px){
 .downside_items{
  width: 321px !important;
  height: 350px !important;
   }}
@media (max-width: 768px){
 .downside_items h3{
font-size: 17px !important; 
   }}
@media (max-width: 768px){
 .downside_items p{
font-size: 11px !important; 
   }}
@media (max-width: 768px){
 .downside_items a{
font-size: 11px !important; 
   }}
@media (max-width: 768px){
 .downside_items .bi{
   top: 6px !important;
   left: 65px !important;
   }}
@media (max-width: 768px){
  .card2{
width: 321px !important;
   }}
@media (max-width: 768px){
  .card2 p{
font-size: 14px !important;
   }}
@media (max-width: 768px){
  .card1{
width: 321px !important;
   }}
